<h1>Jokes</h1>

<p>We have <%= Joke.public_count %> inside jokes from our first dev on site!</p>

<%= render partial: "joke", collection: @jokes, as: :joke %>

<br>
<%= link_to "New Joke", new_joke_path %>
